.navbar {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 2rem 0;
  width: 80vw;
  z-index: 10;
}

.logo,
.link {
  font-size: 1.5rem;

  &:hover {
    font-size: 1.6rem;
  }
}

.logo {
  font-weight: bold;

  &:hover {
    text-decoration: underline 10px;
  }
}
