@import "../../styles/colors";

.navbar {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 2rem 0;
  width: 80vw;
  z-index: 10;
}

.logo {
  font-weight: bold;

  &:hover {
    text-decoration: underline 10px;
  }
}

.logo,
.link {
  font-size: 1.7rem;
  font-weight: bold;

  &:hover {
    color: $yellow;
  }
}
.rightContainer {
  align-items: center;
  display: flex;
}
.linksContainer {
  padding: 1rem;
  display: flex;
}
.linkMargin {
  width: 2rem;
}
.socialIcon {
  font-size: 2.2rem;

  &:hover {
    color: $yellow;
  }
}

.emailCta {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 20px;
  color: $offWhite;
  display: flex;
  justify-content: center;
  background-color: $purple;
  height: 3.2rem;
  width: 3.2rem;

  &:hover {
    background-color: $yellow;
    border-color: $offBlack;
    color: $offBlack;
  }
}

.emailIcon {
  font-size: 2rem;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 590px) {
  .navbar {
    width: 95vw;
  }
  .logo,
  .link {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 420px) {
}
