.sectionHeader {
  display: flex;
}

.title {
  font-size: 10rem;
  margin: 1rem 0rem 3rem 0;
}

@media only screen and (max-width: 780px) {
  .title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 590px) {
  .title {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 3.5rem;
  }
}
