.container {
  align-items: center;
  display: flex;
  margin-bottom: 4.5vh;
}
.logoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 2vw;
  height: 5vw;
  width: 5vw;
}
.logoImg {
  border-radius: 2.5vw;
}
.card {
  display: flex;
  flex-direction: column;
  width: 55vw;
}
.topContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 3vw;
  margin: 0;
}
.dateContainer {
  align-items: center;
  display: flex;
  padding: 0.1rem 0.5rem;
  justify-content: center;
}
.dateText {
  font-size: 1.2vw;
}
.positionText {
  font-size: 1.75vw;
  margin: 0;
}
