.hero {
  align-items: center;
  flex-direction: column;
  display: flex;
  min-height: 90vh;
  padding-top: 5rem;
  width: 100vw;
}

.heroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.miniTitle {
  margin-bottom: 2.5rem;
}
.heroTitle {
  margin: 0;
  //line-height: 1.3;
  font-size: 6.5rem;
  text-align: center;
}

.heroSubtitle {
  opacity: 0.6;
  text-align: center;
  margin-top: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.buttonContainer {
  width: 50%;
}

.lottieContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 32;
}

@media only screen and (max-width: 780px) {
  .heroTitle {
    font-size: 7rem;
  }
  .heroSubtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 590px) {
  .heroTitle {
    font-size: 5rem;
  }
  .heroSubtitle {
    font-size: 0.8rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .miniTitle {
    font-size: 1rem;
  }
  .heroTitle {
    font-size: 3.5rem;
  }
}
