@import "../styles/colors";

.container {
  max-width: 50vw;
  border-left: 8px solid $offBlack;
  padding-left: 2rem;
  border-radius: 8px;
}

.title {
  font-size: 4rem;
  margin: 0;
}

.description {
  font-size: 2rem;
}

.buttonMargin {
  height: 2rem;
}

.buttonWrapper {
  width: 80%;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 590px) {
}

@media only screen and (max-width: 420px) {
  .container {
    max-width: 95vw;
  }
  .title {
    font-size: 2rem;
  }
}
