@import "../styles/colors";

.button {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  width: 100%;

  &:hover {
    color: black;
    background-color: $yellow;
    cursor: pointer;
  }
}

.black {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 590px) {
  .button {
    font-size: 1rem;
  }
}
