@import "../styles/colors";

.button {
  all: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  width: 100%;

  &:hover {
    color: white;
    background-color: $purple;
    cursor: pointer;
  }
}

.primary {
  background-color: black;
  color: white;
}
