.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding-top: 5rem;
  max-width: 90vw;
  margin-bottom: 4rem;
  z-index: 3;
}

.heroTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 8.8rem;
  text-align: center;
}
.heroSubtitle {
  opacity: 0.6;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.buttonContainer {
  width: 50%;
}

@media only screen and (max-width: 780px) {
  .hero {
    max-width: 100vw;
  }
  .heroTitle {
    font-size: 7rem;
  }
  .heroSubtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 590px) {
  .heroTitle {
    font-size: 5rem;
  }
  .heroSubtitle {
    font-size: 0.8rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .miniTitle {
    font-size: 1rem;
  }
  .heroTitle {
    font-size: 3.5rem;
  }
}
