@import "../styles/colors";

.projectCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 55rem;
  justify-content: space-between;
}

.topContainer {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
}

.topLeftContainer {
  margin-right: 2rem;
}

.title {
  font-size: 5rem;
  margin: 0;
}

.tagContainer {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 40rem;
}

.descriptionContainer {
  max-width: 32rem;
  margin-top: 3rem;
  font-size: 2rem;
}

.imageContainer {
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  width: 167px;
  min-width: 167px;
  height: 350px;
}

.buttonWrapper {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 780px) {
  .title {
    font-size: 4rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .imageContainer {
    width: 117px; // 116.9px
    min-width: 117px;
    height: 245px;
  }
}

@media only screen and (max-width: 590px) {
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .description {
    font-size: 1.1rem;
  }
  .imageContainer {
    width: 105.21px; // 116.9px
    min-width: 105.21px;
    height: 220.5px;
  }
}
