.container {
  min-height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contentContainer {
  max-width: 80vw;
  min-width: 80vw;
  z-index: 1;
}
.buttonLinkContainer {
  margin-top: 4rem;
  width: 40rem;
}

.footerMargin {
  height: 10rem;
}
