.contentContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.postsContainer {
  min-height: 50vh;
  min-width: 80vw;
  max-width: 80vw;
}

.postMargin {
  height: 7rem;
}

@media only screen and (max-width: 590px) {
  .postsContainer {
    min-width: 95vw;
    max-width: 95vw;
  }
}

@media only screen and (max-width: 420px) {
}
