.heroMargin {
  height: 4rem;
}
.topLottieContainer {
  position: absolute;
  top: -100px;
  left: -100px;
  opacity: 80%;
}

.middleLottieContainer {
  position: absolute;
  transform: translateY(-350px);
  right: 0px;
}

.bottomLottieContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 7rem;
}

.bottomLottiePositionerContainer {
  height: 300px;
  width: 500px;
  position: absolute;
}

.subSection {
  align-self: center;
  width: 80vw;
  margin: auto;
  z-index: 2;
}

.footerMargin {
  height: 7rem;
}

@media only screen and (max-width: 590px) {
  .subSection {
    width: 100vw;
  }
  .topLottieContainer {
    top: -30px;
    left: -260px;
    height: 20rem;
  }
  .middleLottieContainer {
    transform: translateY(-170px);
    height: 15rem;
  }
  .bottomLottiePositionerContainer {
    height: 200px;
    width: 250px;
  }
}
